.product-section {
  display: flex;
  justify-content: center;
  height: 100%;
  width: 100%;

  &__container {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin-top: 5rem;
    margin-bottom: 1.5rem;
    height: inherit;

    &-1 {
      display: flex;
      justify-content: center;
      height: 70%;
      border-bottom: white solid 0.1rem;
      width: 100%;

      .product-section__gallery,
      .product-section__checkout {
        width: 50%;
        display: flex;
        justify-content: center;
      }

      // .product-section__checkout {
      //   width: 50%;

      //   // align-items: center;
      // }
    }

    &-2 {
      display: flex;
      justify-content: center;
      height: 30%;
      width: 100%;
    }
  }
}
