.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 7vh;
  &--container-1 {
    h1 {
      font-family: 'Gochi Hand', cursive;
      font-size: 3rem;
      margin-left: 5vw;
      text-transform: capitalize;
      line-height: 2rem;
      letter-spacing: 0.2rem;
    }
  }

  &--container-2 {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 40%;

    .header-icon__container {
      // background-color: red;

      &--content {
        // font-size: 1.3rem;
        &__text {
        }

        &__social-icon {
        }
      }
    }

    .cart-header__container {
      display: flex;
      justify-content: center;
      align-items: center;

      &__text {
        font-size: 1.6rem;
      }
    }
  }

  @media screen and (max-width: 450px) {
    .header-icon__container {
      &--content {
        font-size: 1.5rem;
        padding: 0.8rem;
      }
    }

    .cart-header__container__text {
      font-size: 1.5rem;
    }
  }
}
