.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 7rem;
  &--container-1 {
    h1 {
      font-family: 'Gochi Hand', cursive;
      font-size: 3rem;
      margin-left: 5vw;
      text-transform: capitalize;
    }
  }

  &--container-2 {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 40%;
  }
}

.icon__container {
  display: flex;

  &--content {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 2rem;

    &__text {
      font-size: 2rem;
      margin-right: 1rem;
    }

    &__social-icon {
      font-size: 2rem;
    }
  }

  &--content:hover,
  &--content:active {
    text-decoration: underline;
  }
}
