@tailwind base;
@tailwind components;
@tailwind utilities;

@import 'reset';

:root {
  font-size: 62.5%;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  font-size: 1.5rem;
}
