@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@import './scss/_reset.scss';
@import './scss/variables.scss';

// import fonts
@import url('https://fonts.googleapis.com/css2?family=Gochi+Hand&family=Nunito:wght@300;400;600;700;800&display=swap');
:root {
  font-size: 62.5%;
}

body {
  font-size: 1.5rem;
  // font-family: 'Gochi Hand', cursive;
  font-family: 'Nunito', sans-serif;
  background-color: $color-background;
}

#root {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
}
